*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Agente/OllamaSetup.exe
Agente/Bogota.osm.geopackage/Bogota-geopackage/Bogota.gpkg
Agente/manzanaestratificacion/manzanaestratificacion.json
Agente/estratificación_socioeconómica_por_manzana/
Agente/incidente_reportado_(nuse/
Agente/actualizacion.log
